
{:host "tiye.me"
 :uploads [{:from "dist/*"
            :to "cdn/copyboard/"}
           {:from "dist/{index.html,manifest.json}"
            :to "repo/TopixIM/copyboard/"}
           {:from "dist/{server.js,package.json}"
            :to "servers/copyboard/"}]}
